DEEPINFRA_API_TOKEN=isi_token_deepinfra_anda
DEEPINFRA_API_URL=https://api.deepinfra.com/v1/openai
EMBEDDING_MODEL=google/embeddinggemma-300m
MODEL=meta-llama/Meta-Llama-3.1-8B-Instruct

OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=YourStrongPassword123!
OPENSEARCH_USE_SSL=true

PORT=7860

DIABETES_DATA_PATH=diabetic_data.csv
DIABETES_MAPPING_PATH=IDS_mapping.csv
DIABETES_LOAD_LIMIT=0
BULK_CHUNK_SIZE=250
